<div class="error-container">
    <div class="error-title">SOMETHING WENT WRONG</div>
    <div class="error-message">I think you just went to a page non-existing page.</div>
    <div class="error-message"><a asp-action="Login" asp-controller="Home" asp-area="PatientPortal">Go To Patient Login</a></div>
    <div class="error-message"><a asp-action="Login" asp-controller="Home" asp-area="PhysicianPortal">Go To Physician Login</a></div>
    <div class="error-message"><a href="/">Go To Consultation</a></div>
</div>
