<div id="Loader" style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(255,255,255,0.7); z-index: 9999; display: none;">
    <div style="position: absolute;top: 50%;left: 45%;margin-top: -50px;margin-left: -50px;z-index: 999;">
        <div class="spinner-grow" style="color: #50e6d5;"></div>
        <div class="spinner-grow" style="color: #41c7b7;"></div>
        <div class="spinner-grow" style="color: #37bdad;"></div>
        <div class="spinner-grow" style="color: #22a797;"></div>
        <div class="spinner-grow" style="color: #0f9283;"></div>
        <div class="spinner-grow" style="color: #026d60;"></div>
        @*<div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
            <div class="spinner-grow text-light"></div>*@
    </div>
</div>
