@if (ViewBag.QuestionId != 19 && ViewBag.QuestionId != 43 && ViewBag.QuestionId != 60)
{
    <div class="progressWrapper">
        <div class="progressOuter">
            <div class="progressLevel" style="width:@(ViewBag.BarPercent)%"></div>
        </div>
    </div>
}

