@{
    ViewData["Title"] = "Physician Profile";
}
<header class="py-2">
    <div class="logo"><img src="~/Physician/images/logo.png" /></div>
    <div class="header-heading">Profile</div>
    <div class="user-sec">
        <div class="btn-group">
            <span class="dropdown-toggle user-txt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome, Walter
            </span>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Requests</button>
                <button class="dropdown-item" type="button">Messages</button>
                <button class="dropdown-item" type="button">Profile</button>
            </div>
        </div>
        <a href="#!" class="logout-txt ml-4">Log out</a>
    </div>
</header>
<div class="header-space"></div>
<div class="container h100">
    <div class="profile-section">
        <div class="col-lg-6 col-md-10 col-12 mx-auto bg-white">
            <div class="row">
                <div class="col-md-6">
                    <div class="py-5 px-4">
                        <div class="profile-title mb-3">Walter Wilson</div>
                        <p class="m-0">Email Address: name@email.com</p>
                        <p class="m-0">Phone Number: 555.555.5555</p>
                        <p class="m-0">Date of Birth: 02-01-85</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <a href="#!" class="large-teal-btn px-5">Change Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
