@model ChangedPassword
@{
    ViewData["Title"] = "ChangePassword";
}
<div style="width: 100%;">
    @await Component.InvokeAsync("Header", new { ShowRightSection = false, ShowQuestions = false, StaticHeading = true, HeadingText = "Change Password".ToUpper() })
    @{
        ViewData["Title"] = "Change Password";
    }
    <div class="outer">
            <div class="mb-4">
                <div class="container my-3">
                    <div class="row justify-content-center pl-3 pr-3">
                        <div class="col-md-4 card shadow pb-3">
                            <div class="row ">
                                <div class="col-md-12 p-0">
                                    <h5 class="text-center change-password-background">CHANGE PASSWORD</h5>
                                </div>
                            </div>
                            <form id="ChangesPasswordForm" method="post" data-ajax="true" data-ajax-complete="RequestCompleteChangePass" data-ajax-success="RequestSuccessChangePass" data-ajax-failure="RequestFailureChangePass" asp-action="ChangePassword" asp-controller="Patient">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CurrentPassword" class="control-label"></label>
                                    <input asp-for="CurrentPassword" class="form-control" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">New Password</label>
                                    <input asp-for="ChangePassword" class="form-control" />
                                    <span asp-validation-for="ChangePassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Confirm New Password</label>
                                    <input asp-for="ConfirmChangePassword" class="form-control" />
                                    <span asp-validation-for="ConfirmChangePassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn-theme2 fs-22 customBtn br-0" />
                                </div>
                                <div>
                                    <a asp-action="Profile" asp-controller="Patient" asp-area="PatientPortal" class="theme-color-4"> Cancel</a>
                                </div>
                                <div>
                                    <a asp-action="ForGotPassword" asp-controller="Home" asp-area="PatientPortal" class="theme-color-4 mt-2"> Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>




<style>
</style>
@section Scripts
{
    <script src="~/JS/User.js?v=1.0.0.2"></script>
}