<div class="col-md-3 tabrecordtype" recordtype="@ViewBag.RecordType" style="cursor:pointer;">
    <div class="@ViewBag.Class">@ViewBag.RecordHeading</div>
    <div class="col c2">@ViewBag.RecordCount</div>
</div>

